.idea/*
*.iml
.DS_STORE
js/practice.js
practice.html
/js/practice_js.js
/practice_js.html

/js/js_book_practice.js
/js_book-practice.html
book_HTML_CSS.html
/css/book_css_stylesheet.css
/bootstrap_practice.html
/css/style2.css
/codeupprojectpractice.html
